/* 首页样式 */
/* 标题 */
.title{
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    width: 100%;
    margin: 0px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #C4271E;
   
}
/* 排序功能栏 */
.fhead{
    background: #F6F6F6;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 43px;
    left: 0;
    z-index: 10;
}
.fhead a{
    display: inline-block;
    width: 49%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #252524;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}
.view-count span{
    width:30%;
}
.view-count img,.view-count-image{
    width: 36px;
    height: 36px;
}

/* 页面底部tab页 */
.tab-contanier{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.tab-contanier .nav-pills{
    border-top: 1px solid #CAC8C8;
    background: #F7F7F7;
    box-sizing: border-box;
    width: 100%;
}
.tab-contanier .nav-pills>li{
    width: 33.33%;
    text-align: center;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #929292;
    border-right: 1px solid #CAC8C8;
    margin: 0;
}
.tab-contanier .nav-pills>li>a{
    color: #929292;
    padding: 13px 15px;
    cursor: pointer;
    outline: none;
}
.tab-contanier .nav-pills>li.active>a{
    color:#CE342C;
    background-color: #F7F7F7;
}
.nav>li>a:hover{
    background-color: #F7F7F7;  
}

/* 页面显示切换 */
html,body{
    height: 100%;
    overflow-y: hidden
}
body{
    position: relative;
}
.content-box{
    width:100%;    
    box-sizing: border-box;
    overflow-y: auto;
    padding: 80px 40px 0px 40px;
    margin: 0;
    height: 90%;
}
.icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../static/images/icon.png') no-repeat;
    margin-right: 7px;
    vertical-align: middle;
    margin-top: -5px;
}
.home-icon{
    background-position: -60px 0px;
}
.search-icon{
    background-position: 0 0;
}
.collect-icon{
    background-position: -30px 0;
}
.menu li.active .home-icon{
    background-position: -150px 0px;
}
.menu li.active .search-icon{
    background-position: -90px 0px;
}
.menu li.active .collect-icon{
    background-position: -120px 0px;
}
/* ztree展示样式 */
.ztree  *{
    font-size: 14px;
}
.ztree-box{
    height: 80%;
    border: 1px solid #D9E0E7;
    border-radius: 4px;
    overflow: auto;
   
}
/*知识列表显示样式*/
.knowledge .view-cell{
    padding: 12px 8px 0 10px;
    position: relative;
    overflow: hidden;
}
.view-cell .border-bottom{
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}
.view-cell .txt{
    font-size: 15px;
    color: #403F3D;
    font-weight: 500;
    cursor: pointer;
}
.view-cell .txt>img{
    margin-top: -35px;
    margin-left: -8px;
    margin-right: -12px;
}
.view-cell .info-line{
    height:20px;
}
.view-cell .info-line .info-icon{
    height: 20px;
    line-height: 20px;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}
.view-cell .info-line .info-icon img{
    width: 16px;
    height: 14px;
    margin-top: -4px;
}
.view-cell .info-line .info-icon.collect-btn{
    margin-left: 10px;
}
/*分页*/
#pageList{
    width: 100%;
    margin-top: 40px;
    padding-left: 35px;
}
#pageList ul{
    float: right;
    margin-top: 0;
}
#pageList ul .testConfirm{
    margin-left: 10px;
}
.pagination>.active>a,.pagination>.active>a:hover{
    background-color: #C4271E;
    border-color: #C4271E;
}
.pagination>li>a, .pagination>li>span{
    color:#C4271E;
}
#pageList ul div{
    margin-top: 3px;
}
/*搜索框*/
.search-row{
    background: #F6F6F6;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    display: none;
}
.search-row>div{
    display: inline-block;
    padding: 10px;
    position: relative;
    vertical-align: middle;
}
.search-row .search{
    position: relative;
    width:60%;
}
.search-row .select{
    width:30%;
    text-align: left;
}
.search-row .selectContanier{
    width: 270px;
    display: inline-block;
}
.selectContanier .col {
    width: 85%;
    z-index: 2;
    opacity: .5;
    text-indent: 12px;
    padding-left: 5px!important;
}
.search .search-icon{
    position: absolute;
    left: 18px;
    top: 15px;
}
.search .search-icon>img{
    width: 15px;
    height: 15px;
}
#keyword{
    background-color:#DDDDDD;
    padding-left: 33px;
    border:none;
}
#searchBtn{
    display: inline-block;
    margin-left: -10px;
    cursor: pointer;
    vertical-align: text-bottom;
}
#searchBtn img{
    width: 24px;
}
/*无搜索结果样式*/
.empty{
    list-style: none;
    text-align: center;
}
.empty>img{
    width: 20px;
    vertical-align: text-bottom;
    margin-right: 10px;
}
/*提示框样式*/
.tip{
    position: fixed;
	left:50%;
	top:40%;
	margin-left:-59px ;
	font-size: 15px;
	width:150px;
    text-align: center;
    background: #7F7F7F;
	color: #fff;
    z-index: 100;
    padding: 15px;
	display: none;
}
/*搜索到的文字标红*/
.AU_replaceTip{
    color:red;
    display: inline-block;
    cursor: pointer;
}