@charset "utf-8";

body, html {
    width: 100%;
    height: 100%;
}
body {
    overflow-y: hidden;
    min-width:1000px;
}
#iframeCtn {
    width: 100%;
    height: 100%;
}
.contentNav {
	margin-left: 220px;
	padding: 0;
}
.rowNav {
	margin: 0 -10px;
}