table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table {
  margin-top: 15px;
  border-color: #e2e7eb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.table > thead {
  background-color: #E2E7EB;
  border-color: #E2E7EB;
}
.table > thead > tr > th {
  color: #242a30;
  font-weight: 600;
  border-bottom: 2px solid #e2e7eb !important;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-color: #e2e7eb;
  padding: 10px 15px;
}
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
  padding: 7px 15px;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background: #e8ecf1 !important;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background: #f0f3f5;
}
.table.table-inverse > tbody > tr > td,
.table.table-inverse > tbody > tr > th,
.table.table-inverse > tfoot > tr > td,
.table.table-inverse > tfoot > tr > th,
.table.table-inverse > thead > tr > td,
.table.table-inverse > thead > tr > th {
  border-color: #999!important;
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.table.table-inverse,
.table.table-inverse > tbody > tr > th,
.table.table-inverse > tfoot > tr > th,
.table.table-inverse > thead > tr > th {
  color: #fff;
}
.table > tbody > tr.info > td,
.table > tbody > tr.info > th,
.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tfoot > tr.info > td,
.table > tfoot > tr.info > th,
.table > tfoot > tr > td.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > thead > tr.info > th,
.table > thead > tr > td.info,
.table > thead > tr > th.info {
  background: #dbf0f7;
  border-color: #b6e2ef;
}
.table > tbody > tr.success > td,
.table > tbody > tr.success > th,
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tfoot > tr.success > td,
.table > tfoot > tr.success > th,
.table > tfoot > tr > td.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > thead > tr.success > th,
.table > thead > tr > td.success,
.table > thead > tr > th.success {
  background: #cee;
  border-color: #99dede;
}
.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th,
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr.danger > td,
.table > tfoot > tr.danger > th,
.table > tfoot > tr > td.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > thead > tr.danger > th,
.table > thead > tr > td.danger,
.table > thead > tr > th.danger {
  background: #ffdedd;
  border-color: #ffbdbc;
}
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th,
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr.warning > td,
.table > tfoot > tr.warning > th,
.table > tfoot > tr > td.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > thead > tr.warning > th,
.table > thead > tr > td.warning,
.table > thead > tr > th.warning {
  background: #fdebd1;
  border-color: #fbd7a3;
}
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > thead > tr > td.active,
.table > thead > tr > th.active {
  background: #f0f3f5;
  border-color: #e2e7e9;
}
html {
  background-color: #F7F7F7;
  height: 100%;
}
body {
  margin: 0;
  font-size: 12px;
  font-family: "Microsoft YaHei";
}
body .header {
  width: 100%;
  height: 180px;
  position: relative;
}
body .header .upper {
  text-align: center;
  width: 100%;
  height: 180px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  color: #fff;
}
body .header .upper .pic {
  margin: 0 auto;
  margin-top: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}
body .header .upper .pic img {
  width: 100%;
  height: 100%;
}
body .header .upper .username {
  font-size: 16px;
  margin-bottom: 10px;
}
body .header .upper .userinfo {
  margin-top: 10px;
}
body .header .downer {
  width: 100%;
  height: 180px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/logo.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
body h3 {
  text-indent: 15px;
  font-weight: normal;
}
body #tbody tr.grey {
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
  margin-bottom: 15px;
  background-color: #fff;
}
body #tbody tr.grey p.name {
  font-size: 16px;
}
body #tbody tr.grey a {
  color: #9D1462;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
body #tbody tr.grey a:hover {
  color: #bd1173;
  text-decoration: underline;
}
body .layui-layer-zhu .layui-layer-title {
  background: #9D1462;
  color: #fff;
  border: none;
}
body .layui-layer-zhu .wrapper {
  margin: 12px 30px;
}
body .layui-layer-zhu .wrapper input {
  display: block;
  width: 87%;
  height: 24px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
body .layui-layer-zhu .wrapper textarea {
  display: block;
  width: 87%;
  height: 200px;
  resize: none;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
body .layui-layer-zhu .wrapper button {
  color: #fff;
  width: 100%;
  background-color: #9D1462;
  border-color: #9D1462;
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
body .layui-layer-zhu .wrapper button:hover {
  background: #bd1173;
  border-color: #bd1173;
}
body .layui-layer-zhu .btnWrapper {
  text-align: center;
}
