*{
    font-family: "Microsoft YaHei"!important;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn .b-f-footer .b-f-f-left .clRecord {
line-height:initial
}
  .container .body .bodyLeft .bodyFooter .b-f-ctn .b-f-footer .b-f-f-left span:hover{
      color: red;
  }
  .container .body .bodyLeft .bodyFooter .b-f-ctn textarea:focus{
      border: 1px solid red;
  }
  #left_content{
      background: #fff;
  }
  .container .body .bodyLeft .psBarC .chatCtn .customer .serv-ctn{
      border: none;
      background: #CE2922;
      color:#fff;
  }
  .container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn{
      background: #f5f5f5;
      border: none;
  }
  .psBarC{
      background: white;
  }
  .hot{
      display: inline-block;
      position: relative;
      top: -6px;
      width: 24px;
      height: 15px;
      background:url("../images/hot.png");
  }
  .new{
      display: inline-block;
      position: relative;
      top: -6px;
      width: 24px;
      height: 15px;
      background:url("../images/new.png");
  }
  a{
      text-decoration: none;
  }
  .container .header{
    position: relative;
      background-color: #CE2922;
      height: 10%;
    min-height: 90px;
    overflow: hidden;
  }
.headerLeft p{
    font-family: '微软雅黑';
    color: white;
}
.container .header .headerLeft{
    padding-left: 40px;
}

/* logo的样式 */
.logoImg{
	display: inline-block;
    width: 70px;
    height: 68px;
    position: absolute;
    padding: 12px 0 0 12px;
}
.logoImg img{
	border: 0 none;
    height: auto;
    vertical-align: middle;
    max-width: 100%;
}
.pp{
    color: #fff;
    margin-left:95px;
    letter-spacing: 2px;
}
.service{
    margin-top: 0px;
}
  .container .header .headerRight .service ul{
      height: 100%;
  }
  .title11{
      margin-top: 20px;
    font-size: 22px;
}
.title1{
    margin-top: 4px;
      font-size: 16px;
  }
  .container .body .bodyLeft .bodyFooter .b-f-ctn textarea{
      width: 93%;
  }
  .container .body .bodyLeft .bodyFooter .b-f-ctn .b-f-footer{
      width: 91%;
  }
  #sendImg{
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #99a4c0;
    line-height: 110px;
    border-radius: 3px;
  }
#sendImg:hover{
    background: #99a4cb;
}
  #inputPR{
    width: 90px;
    height: 90%;
    float: right;
  }
.headerRight{
    width: 60%;
    height: 100%;
    overflow: hidden;
}
.container .header .headerRight .service ul li {
    float: right;
    height: 100%;
    margin-right: 1%;
    width: 12%;
    padding-top: 18px;
    text-align: center;
}
  .service{
      width:100%;
      height: 100%;
      overflow: hidden;
  }
  .headerLeft{
      width: 50%;
      height: 100%;
  }

  .line{
      display: inline-block;
      width: 1px;
      height: 80%;
      margin-left: 2rem;
      border-right: 1px solid #aeaeae;
      margin-top: 0.6rem;
  }
  #showhotthree ul li:hover{
      background: #eb3c35;
  }
  .container .body .bodyLeft .psBarC .chatCtn .customer .serv-ctn .triangle{
      right: -7px;
      background: url(skin/zbj2/images/triangleLeft2Tpw.png) no-repeat;
      width: 19px;
      height: 17px;
      top: 4px;
  }
  .container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .triangle1 {
          background: url(skin/zbj2/images/triangleRightTpw.png) no-repeat;
          height: 18px;
        left: -8px;
  }
  .container .body .bodyLeft .psBarC .chatCtn .customer .serv-ctn .say-word{
    color:#fff;
  }
  #sendtxt{
      max-width: 1321px;
      min-width: 460px;
  }
  #askText {
    font-size: 16px;
    color: #333;
  }
  .container .body .bodyRight .fuzb2 p{
    font-size: 16px;
  }
.container .body .bodyRight .fuzb1 p{
    font-size: 16px;
}
.nano .content{
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
}
.container .body .bodyRight .fuzb2{
    overflow: hidden
}

/* 对话框样式 */
.MN_kfCtn{
    background:#F5F5F5;
}
.MN_khCtn{
    background:#CE2922;
    color: #fff
}
.MN_khTriangle1{
    border-left: 8px solid #CE2922;
}
.MN_kfTriangle1{
    border-right: 15px solid #F5F5F5;
}
.MN_kfTriangle2 {
    border-right: 8px solid #F5F5F5;
}
.MN_kfName{
    padding-left: 24px;    
}
.MN_khName{
    padding-right: 10px;
}
.MN_khtime{
    display: none
}
.MN_reasonSend{
    background:#CE2922;
    border-color: #CE2922;
  }
