/*可以在这里添加你自己的css*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td, a {
    color: #222;
    font-family: "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
 }
 
#initContent {
	color: #8d8d8d;
	font-family: "Microsoft YaHei", Arial, sans-serif;
	margin: 0;
}












