@charset "utf-8";


/***通用样式开始***/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;font-family:"Microsoft YaHei", Arial, sans-serif;} 
body,html {width: 100%; height: 100%;}
body {min-width: 760px;}
table {border-collapse:collapse;border-spacing:0;} 
fieldset,img {border:0} 
a {text-decoration: none;}
h2 {color: #fff; font-size: 22px;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal} 
ol,ul,li {list-style:none} 
caption,th {text-align:left}
q:before,q:after {content:''} 
abbr,acronym { border:0}
/***通用样式结束***/


/***自定义样式开始***/
.cl {
	clear: both;	
}
/***自定义样式结束***/

.psBarW {
	width: 100%; 
	height: 100%;
	min-height: 300px;
	min-width: 500px;
}
.container {
	width: 100%;
	height: 100%;
}
.container .header {
	width: 100%;
	height: 80px;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.container .header .headerLeft {
	float: left;
	font-size: 0;
}
.container .header .headerLeft a {
	display: inline-block;
    height: 80px;
    line-height: 80px;
    width: 160px;
	padding-left:10px;
}
.container .header .headerRight {
	float: right;
}
.container .header .headerRight .h-r-arti {
	float: right;
	display: inline-block;
	line-height: 80px;
	background: url(../images/jump.png) no-repeat 0px center;
	text-indent: 30px;
	position: relative;
	color: #000;
}
.container .header .headerRight .h-r-arti:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 2px;
	height: 30px;
	background: #ddd;
	top: 24px;
	right: -40px;
}
.container .header .headerRight .h-r-close {
	float: right;
	display: inline-block;
	height: 80px;
	width: 80px;
	background: url(../images/close.png) no-repeat center;
	margin-left: 40px;
	cursor: pointer;
}
.container .body {
	width: 100%;
	height: 200px;
	position: relative;
	background: #F1F1F1;
}
.container .body .bodyLeft {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	position: relative;
}
.container .body .bodyLeft .psBarC {
	width: 100%;
	overflow: hidden;
	display: inline-block;
	position: relative;
}
/***聊天界面开始***/
.container .body .bodyLeft .psBarC .chatCtn {
	width: 100%;
	margin: 0 auto;
	padding: 15px 0;
}
.container .body .bodyLeft .psBarC .chatCtn .chat-ctn {
	padding: 30px 0;
}

/*客服说话开始*/
.container .body .bodyLeft .psBarC .chatCtn .serv {
	position: relative;
	vertical-align: middle;
	font-size: 14px;
	color: #000;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn {
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #CFCFCF;
	margin-left: 22px;
	position: relative;
	background: #fff;
	max-width: 60%;
	position: relative;
	padding-bottom: 6px;
	box-shadow: 1px 1px 2px #ddd;
}

.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn div {
	/*margin-left: 12px;
	padding: 6px 10px 0 0;
	margin-bottom: -10px;
	min-width: 137px;*/
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn div .nameWrap {
	position: absolute;
	bottom:	-20px;
	color: #aaa;
	font-size: 12px;
	left: 0px;
	white-space: nowrap;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn div dl dt {
	line-height: 24px;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn div dl dd a {
	color: #517CAF;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .ishaveyong {
	/*display: inline-block;
	position: relative;
	left: 100%;
	margin-left: -166px;*/
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .ishaveyong div {
	font-size: 13px;
	text-align: right;
	margin-right: 10px;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .ishaveyong a {
	font-size: 13px;
	display: inline-block;
	line-height: 20px;
	cursor: pointer;
	text-indent: 10px;
	white-space: nowrap;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .ishaveyong a:hover {
	color: #22A9E7;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .ishaveyong .robot_review_yes {
	background: url(../images/good-qq.png) no-repeat 3px 0;
	width: 52px;
	
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .ishaveyong .robot_review_no {
	background: url(../images/bad-qqq.png) no-repeat 4px 3px;
	width: 64px;
	margin-left: 5px;
	
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .triangle {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-top: 16px solid #cfcfcf;
    border-left: 16px solid transparent;
	left: -16px;
	top: 10px;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .triangle2 {
	border-top-color: #fff;
	left: -13px;
	top: 11px;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .nameWrap {
	position: absolute;
	bottom: -20px;
	font-size: 12px;
	color: #aaa;
	margin-left: 5px;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .say-word {
	padding:10px;
	word-wrap: break-word;
	word-break:break-all;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .say-word dd {
	color: #22A9E7;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .say-word a {
	color: #22A9E7;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn p a {
	margin-left: 5px;
	color: #22A9E7;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn p a:hover {
	color: #222;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .pre-say-word {
	padding-left: 20px;
	padding-top: 10px;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .wc-pre p {
	padding: 0px 11px 5px 18px;
	
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .time {
	margin-left: 6px;
	font-style: normal;
	white-space: nowrap;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-ctn .helper_aid_34510 a {
	padding: 0 6px 0 0;
	cursor: pointer;
	color: #858585;
}
.container .body .bodyLeft .psBarC .chatCtn .serv .serv-icon {
	display: inline-block;
	width: 53px;
	height: 50px;
	/*background: url(../images/robot.png) no-repeat right 0;*/
	position: relative;
	top: 0;
	vertical-align: top;
	margin-top: -8px;
	
}
/*客服说话结束*/


/*用户说话开始*/
.container .body .bodyLeft .psBarC .chatCtn .customer {
	position: relative;
	vertical-align: middle;
	color: #000;
	font-size: 14px;
}
.container .body .bodyLeft .psBarC .chatCtn .customer .serv-ctn {
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #22A9E7;
	margin-right: -4px;
	position: relative;
	background: #22A9E7;
	max-width: 60%;
	position: relative;
	float: right;
	padding-bottom: 8px;
	min-width: 137px;
	box-shadow: 1px 1px 2px #ddd;
}
.container .body .bodyLeft .psBarC .chatCtn .customer .serv-ctn .triangle {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-bottom: 16px solid transparent;
    border-left: 16px solid #22A9E7;
	right: -15px;
	top: 9px;
}
.container .body .bodyLeft .psBarC .chatCtn .customer .serv-ctn .say-word {
	padding: 8px 16px 2px 16px;
	word-break: break-all;
	word-wrap: break-word;
	color: #fff;
}
.container .body .bodyLeft .psBarC .chatCtn .customer .serv-ctn .say-word span {
	padding: 8px 10px;
	word-wrap: break-word;
}
.container .body .bodyLeft .psBarC .chatCtn .customer .serv-ctn .time {
	font-size: 12px;
	color: #aaa;
	position: absolute;
	bottom: -20px;
	right: 5px;
	white-space: nowrap;
	font-style: normal;
}
.container .body .bodyLeft .psBarC .chatCtn .customer .serv-icon {
	display: inline-block;
	width: 55px;
	height: 50px;
	background: url(../images/user.png) no-repeat;
	position: relative;
	top: 0;
	vertical-align: top;
	margin-top: -8px;
	margin-left: 46px;
	float: right;
	right:20px;
}
/*用户说话结束*/
.container .body .bodyRight {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
	height: 100%;
	border-left: 1px solid #DDD;
	height: 100%;
	background: #E9E9E9;
}
.container .body .bodyRight .b-r-header {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #DDD;
}
.container .body .bodyRight .b-r-header .b-r-h-ctn {
	width: 354px;
	height: 40px;
	margin: 0 auto;
	padding: 20px 0 20px 0;
}
.container .body .bodyRight .b-r-header .b-r-h-ctn div {
	float: left;
	width: 102px;
	height: 100%;
	cursor: pointer;
	padding-bottom: 18px;
	margin: 0 8px;
}
.container .body .bodyRight .b-r-header .b-r-h-ctn .click {
	border-bottom: 2px solid #F36C27;
}
.container .body .bodyRight .b-r-header .b-r-h-ctn .rightBtn1 {
	background: url(../images/hot.png) no-repeat center top;
}
.container .body .bodyRight .b-r-header .b-r-h-ctn .rightBtn2 {
	background: url(../images/fast.png) no-repeat center top;
}
.container .body .bodyRight .b-r-header .b-r-h-ctn .rightBtn3 {
	background: url(../images/contact.png) no-repeat center top;
}
.container .body .bodyRight .b-r-body {
	width: 100%;
}
/*热门问题开始*/
.container .body .bodyRight .b-r-body .rightCtn1 {
	width: 354px;
	margin: 0 auto;
}
.container .body .bodyRight .b-r-body .rightCtn1 dl {
	padding-top: 10px;
}
.container .body .bodyRight .b-r-body .rightCtn1 dl dt {
	padding: 5px 5px 5px 5px;
}
.container .body .bodyRight .b-r-body .rightCtn1 dl dt a {
	font-size: 14px;
	color: #111;
}
.container .body .bodyRight .b-r-body .rightCtn1 dl dt a:hover {
	color: #22A9E7;
}
/*热门问题结束*/
.container .body .bodyRight .b-r-body .rightCtn2 {
	display: none;
	width: 354px;
	margin: 0 auto;
}
.container .body .bodyRight .b-r-body .rightCtn2 a {
	display: inline-block;
	width: 58px;
	height: 40px;
	color: #222;
	font-size: 14px;
	padding: 18px 13px 5px 13px;
	line-height: 108px;
}
.container .body .bodyRight .b-r-body .rightCtn2 a:hover {
	color: #22A9E7;
}
.container .body .bodyRight .b-r-body .rightCtn2 .kjBtn1 {
	background: url() no-repeat center;
}
.container .body .bodyRight .b-r-body .rightCtn2 .kjBtn2 {
	background: url() no-repeat center;
}
.container .body .bodyRight .b-r-body .rightCtn2 .kjBtn3 {
	background: url() no-repeat center;
}
.container .body .bodyRight .b-r-body .rightCtn2 .kjBtn4 {
	background: url() no-repeat center;
}
.container .body .bodyRight .b-r-body .rightCtn3 {
	display: none;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.container .body .bodyRight .b-r-body .rightCtn3 .contact {
	position: absolute;
	width: 260px;
	height: 360px;
	left: 50%;
	margin-left: -130px;
	top: 50%;
	margin-top: -180px;
	background: #fff url(../images/bg.png) no-repeat center top;
	border-radius: 5px;
	box-shadow: 1px 2px 2px #ccc;
}
.container .body .bodyRight .b-r-body .rightCtn3 .contact p {
	text-indent: 55px;
	color: #444;
	font-size: 14px;
	line-height: 24px;
}
.container .body .bodyRight .b-r-body .rightCtn3 .contact p:hover {
	color: #22A9E7;
}
.container .body .bodyRight .b-r-body .rightCtn3 .contact .contact1 {
	margin: 46px 0 12px 7px;
	padding-bottom: 14px;
	border-bottom: 1px solid #D6D6D6;
	width: 246px;
	text-align: center;
	text-indent: 0;
	color: #22A9E7;
	font-size: 16px;
	background-color: #fff;
}
/***输入框开始***/
.container .body .bodyLeft .bodyFooter {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 160px;
	border-top: 1px solid #ddd;
}
.container .body .bodyLeft .bodyFooter .error {
	position: absolute;
	top: -24px;
	color: #F00;
	font-size: 14px;
	width: 300px;
	text-align: center;
	margin: 0 auto;
	left: 50%;
	margin-left: -150px;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn {
	width: 98%;
	height: 150px;
	padding-top: 10px;
	margin: 0 auto;
	position: relative;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn textarea {
	width: 100%;
	height: 85px;
	resize: none;
	outline: none;
	box-sizing: border-box;
	padding: 5px;
	overflow: auto;
	border: 1px solid #ccc;
	margin-top: 7px;
	border-radius: 3px;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn textarea:focus {
	border: 2px solid #22A9E7;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn .remainNum {
	font-size: 12px;
	display: inline-block;
	float: right;
	color: #888;
	margin-top: -4px;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn .remainNum span {
	font-size: 10px;
	color: #22A9E7;
	font-weight: bold;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn .b-f-footer {
	width: 100%;
	height: 42px;
	position: absolute;
	bottom: 0;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn .b-f-footer .b-f-f-left {
	float: left;
	font-size: 14px;
	margin-top: 12px;
	color: #888;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn .b-f-footer .b-f-f-left span {
	display: inline-block;
	text-indent: 20px;
	cursor: pointer;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn .b-f-footer .b-f-f-left span:hover {
	color: #22A9E7;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn .b-f-footer .b-f-f-left .clRecord {
	background: url(../images/delete.png) no-repeat;
	margin-right: 20px;
	position: relative;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn .b-f-footer .b-f-f-left .clRecord:after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 20px;
	background: #ddd;
	position: absolute;
	top: 1px;
	right: -12px;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn .b-f-footer .b-f-f-left .comment {
	background: url(../images/Satisfaction.png) no-repeat;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn .b-f-footer .b-f-f-right {
	float: right;
	font-size: 16px;
	background: #22A9E7;
	border-radius: 3px;
	text-align: center;
	margin-top: 5px;
	width: 10%;
	padding: 3px 0px 6px 0px;
}
.container .body .bodyLeft .bodyFooter .b-f-ctn .b-f-footer .b-f-f-right:hover {
	cursor: pointer;
	background: #1099d8;
	color: #fff;
}
/***输入框结束***/

/***各种弹框开始***/

/*离开确认弹框开始*/
.container .cl-ctn {
	display: none;
	z-index: 999;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, .2);
}
.container .cl-ctn #close {
	
	width: 210px;
	background: #fff;
	font-size: 14px;
	border-radius: 3px;
	position: relative;
	left: 50%;
	margin-left: -105px;
	top: 50%;
	margin-top: -54px;
}
.container .cl-ctn #close .cl-title {
	text-align: center;
	line-height: 51px;
	border-bottom: 1px solid #ddd;
	font-size: 15px;
}
.container .cl-ctn #close .cl-body {
	width: 210px;
	margin: 0 auto;
	line-height: 36px;
	padding: 10px 0;
}
.container .cl-ctn #close .cl-body input {
	display: block;
	padding: 6px 40px;
	cursor: pointer;
	outline: none;
	margin: 0 0 10px 51px;
	border-radius: 3px;
}

.container .cl-ctn #close .cl-body #cl-yes {
	margin-top: 6px;
	background: #4BA9DF;
	border: none;
}
.container .cl-ctn #close .cl-body #cl-yes:hover {
	background: #3879D9;
	color: #fff;
}
.container .cl-ctn #close .cl-body #cl-no {
	background: #AAB2BD;
	border: none;
}
.container .cl-ctn #close .cl-body #cl-no:hover {
	background: #a2aab4;
	color: #fff;
}

/*离开确认弹框结束*/

/*评论弹框开始*/
.container .c-ctn {
	display: none;
	z-index: 999;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, .2);
}
.container .c-ctn #comment {
	width: 500px;
	background: #fff;
	font-size: 14px;
	border-radius: 3px;
	position: relative;
	left: 50%;
	margin-left: -250px;
	top: 50%;
	margin-top: -200px;
}
.container .c-ctn #comment .c-title {
	text-align: center;
	line-height: 55px;
	background: #4BA9DF;
	border-radius: 5px 5px 0 0;
	font-size: 15px;
}
.container .c-ctn #comment .c-body {
	width: 400px;
	margin: 0 auto;
	line-height: 36px;
	padding: 20px 0;
}
.container .c-ctn #comment .c-body .c-form {
	margin-left: 42px;
}
.container .c-ctn #comment .c-body .c-form span {
	display: block;
}
.container .c-ctn #comment .c-body .c-form span label {
	vertical-align: 1px;
}
.container .c-ctn #comment .c-body .c-form span.c-a-comment {
	margin-left: -46px;
}
.container .c-ctn #comment .c-body .c-form #c-textarea {
	position: absolute;
	top: 199px;
	resize: none;
	background: #ECECEC;
	border: 1px solid #DEDEDE;
	padding: 5px 6px;
	width: 336px;
	height: 36px;
	overflow-y: auto;
	font-size: 12px;
	border-radius: 3px;
}
.container .c-ctn #comment .c-body .c-form #submit {
	padding: 6px 25px;
	background: #4BA9DF;
	border: 1px solid #4BA9DF;
	border-radius: 3px;
	margin: 40px 10px 0 88px;
	outline: none;
	cursor: pointer;
}
.container .c-ctn #comment .c-body .c-form #submit:hover {
	background: #3879D9;
	color: #fff;
}
.container .c-ctn #comment .c-body .c-form #cancel {
	padding: 6px 25px;
	background: #AAB2BD;
	border: 1px solid #ECECEC;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}
.container .c-ctn #comment .c-body .c-form #cancel:hover {
	background: #a2aab4;
	color: #fff;
}

/*评论弹框结束*/

/***各种弹框结束***/


//图文样式

.img_hover{ 
	border:3px solid #FFF;
	position: relative;
    float: left;
    width:347px;
}

.msg-col {
	font-size: 14px;
	width: 350px;
}
.msg-item-wrapper {
	background-color: #f4f4f4;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 26px;
	position: relative;
}
.msg-item-wrapper a{
	color:#333;
}
.msg-item {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	padding: 2px 0;
}
.multi-msg .msg-meta {
	line-height: 28px;
	margin: 0 14px;
}
.msg-meta {
	font-size: 13px;
	margin-left:13px;
}
.cover {
	font-size: 0;
	height: 160px;
	margin: 0 14px 12px;
	overflow: hidden;
	position: relative;
}
.cover .msg-t {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6) !important;
	bottom: 0;
	color: #fff;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
.msg-t {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 28px;
	margin: 6px 14px 0;
	max-height: 56px;
	overflow: hidden;
}
.cover .i-title {
	display: block;
	padding-left: 4px;
	padding-right: 4px;
}
.cover img {
	width: 100%;
}
img {
	border: 0 none;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
.sub-msg-item {
	border-top: 1px solid #c6c6c6;
	overflow: hidden;
	padding: 12px 14px;
	background-color: #fff;
}
.rel {
	position: relative;
}
.thumb {
	float: right;
	font-size: 0;
}
.thumb img {
	border: 1px solid #b2b8bd;
	height: 70px;
	width: 70px;
}
.sub-msg-item .msg-t {
	font-size: 14px;
	line-height: 24px;
	margin-left: 0;
	margin-right: 85px;
	margin-top: 0;
	max-height: 48px;
	overflow: hidden;
	padding-left: 4px;
	padding-top: 12px;
}
.defultImg {
	border: 1px solid #b2b8bd;
	color: #c0c0c0;
	font-size: 14px;
	line-height: 70px;
	width: 70px;
	display: block;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	margin-left: 120px;
}
.codeIcon {
	width: 160px;
	float: left;
	height: 160px;
	margin: 10px;
	overflow: hidden;
	position:relative;
}
.link_a{
	color:#ddd;
	text-decoration:none;
}

/* 后加样式 */
.noSatiCtn {
	display: none;
}
.MN_answer, .MN_ask {
    padding: 5px 90px;
}